body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #9fb404;
  cursor: pointer;
}

.text {
  &-16 {
    font-size: 16px;
  }

  &-18 {
    font-size: 18px;
  }

  &-400 {
    font-weight: 400;
  }

  &-600 {
    font-weight: 600;
  }
}

.color {
  &-white {
    color: #fff;
  }

  &-lime {
    color: #9fb404;
  }

  &-dark {
    color: #333;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.m {
  &r-40 {
    margin-right: 40px;
  }

  &l-20 {
    margin-left: 20px;
  }

  &t-20 {
    margin-top: 20px;
  }

  &b-20 {
    margin-bottom: 20px;
  }
}

cursor-pointer {
  cursor: pointer;
}

.attentions {
  padding: 20px 20px 20px 0;
  width: 100%;
  height: calc(100vh - 200px);  
  overflow-y: auto;
  scrollbar-width: none;
}
